
// Navbar
.navbar, .nav {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  color: $white;
}

.navbar {
  justify-content: space-between;
  background-color: $gray-3;
}

.nav {
  list-style: none;
  margin-right: $margin-navbar-x - $margin-nav-link-x;
}

.navbar-expand {
  width: 100%;
}

.navbar-collumn, .nav-collumn {
  flex-direction: column;
}

.navbar-title {
  font-size: $navbar-title-size;
  margin: 0 $margin-navbar-x;
  padding: 0;
}

.nav-item {
  margin: $margin-nav-link-y $margin-nav-link-x;
}

.nav-link {
  line-height: 1;

  &:hover {
    color: rgba(255, 255, 255, 0.7);
  }
}
